@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');
.welcome {
  background-color: #ffffff;
  --major-font-font: Nunito, Helvetica, sans-serif;
  // background-color: #065918;
  color: black;
  /* navbar */
  .navbar {
    display: flex;
    justify-content: space-between;
    .logo {
      font-size: 20px;
      font-weight: bold;
      text-decoration: none;
      color: green;
      cursor: pointer;
      margin-left: 20px;
    }
    .login-btn {
      color: black !important;
      font-size: 16px !important;
      text-decoration: none;
      margin-right: 20px;
    }
  }

  .container {
    // background-color: #065918;
    height: 100%;
    display: flex;
    flex-direction: row;
    .left {
      font-weight: 30;
      font-size: 18px;
      color: #ffffff;
      // background-color: #065918;

      h1 {
        margin: 10%;
        color: black;
      }
      h4 {
        margin: 10%;
        color: black;
      }

      .box {
        background: green;
        margin-left: 5%;
        border: 1px solid #181616;
        padding: 12px 30px 12px 30px;
        font-family: 'Poppins', sans-serif;
        display: flex;
        align-items: center;
        border-radius: 25px;
        font-weight: bold;
        font-size: large;
        cursor: pointer;
        margin-top: 5px;
        label {
          margin-left: 5px;
        }
      }
      .box:hover {
        color: black;
        background-color: orange;
        transition: 0.4s ease;
      }
    }
  }
  .right {
    .leaf {
      height: 300px;
      width: 300px;
    }
    margin: 10%;
  }
}
